interactions:
- request:
    body: !!python/unicode ''
    headers:
      Authorization: [!!python/unicode 'Basic YmVybmFyZC5wYXF1ZXM6KiZeRyomR0gqKTQ=']
      Content-Type: [application/xml]
    method: GET
    uri: https://api-eu.dimensiondata.com/oec/0.9/myaccount
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"\
        yes\"?>\n<ns2:Account xmlns=\"http://oec.api.opsource.net/schemas/organization\"\
        \ xmlns:ns2=\"http://oec.api.opsource.net/schemas/directory\" xmlns:ns4=\"\
        http://oec.api.opsource.net/schemas/server\" xmlns:ns3=\"http://oec.api.opsource.net/schemas/backup\"\
        \ xmlns:ns6=\"http://oec.api.opsource.net/schemas/multigeo\" xmlns:ns5=\"\
        http://oec.api.opsource.net/schemas/support\" xmlns:ns8=\"http://oec.api.opsource.net/schemas/datacenter\"\
        \ xmlns:ns7=\"http://oec.api.opsource.net/schemas/admin\" xmlns:ns13=\"http://oec.api.opsource.net/schemas/whitelabel\"\
        \ xmlns:ns9=\"http://oec.api.opsource.net/schemas/network\" xmlns:ns12=\"\
        http://oec.api.opsource.net/schemas/serverbootstrap\" xmlns:ns11=\"http://oec.api.opsource.net/schemas/vip\"\
        \ xmlns:ns10=\"http://oec.api.opsource.net/schemas/reset\" xmlns:ns16=\"http://oec.api.opsource.net/schemas/general\"\
        \ xmlns:ns15=\"http://oec.api.opsource.net/schemas/manualimport\" xmlns:ns14=\"\
        http://oec.api.opsource.net/schemas/storage\">\n    <ns2:userName>bernard.paques</ns2:userName>\n\
        \    <ns2:fullName>bernard paques</ns2:fullName>\n    <ns2:firstName>bernard</ns2:firstName>\n\
        \    <ns2:lastName>paques</ns2:lastName>\n    <ns2:emailAddress>bernard.paques@dimensiondata.com</ns2:emailAddress>\n\
        \    <ns2:department></ns2:department>\n    <ns2:customDefined1>EU - Luxemburg</ns2:customDefined1>\n\
        \    <ns2:customDefined2></ns2:customDefined2>\n    <ns2:orgId>3755d938-0bfc-4553-9c68-b61fbd1f4cd0</ns2:orgId>\n\
        \    <ns2:roles>\n        <ns2:role>\n            <ns2:name>server</ns2:name>\n\
        \        </ns2:role>\n        <ns2:role>\n            <ns2:name>storage</ns2:name>\n\
        \        </ns2:role>\n        <ns2:role>\n            <ns2:name>reports</ns2:name>\n\
        \        </ns2:role>\n        <ns2:role>\n            <ns2:name>network</ns2:name>\n\
        \        </ns2:role>\n        <ns2:role>\n            <ns2:name>create image</ns2:name>\n\
        \        </ns2:role>\n        <ns2:role>\n            <ns2:name>backup</ns2:name>\n\
        \        </ns2:role>\n    </ns2:roles>\n</ns2:Account>\n"}
    headers:
      content-type: [text/xml]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode ''
    headers:
      Authorization: [Basic YmVybmFyZC5wYXF1ZXM6KiZeRyomR0gqKTQ=]
      Content-Type: [application/xml]
    method: GET
    uri: https://api-eu.dimensiondata.com/oec/0.9/3755d938-0bfc-4553-9c68-b61fbd1f4cd0/report/usage?startDate=2016-11-29&endDate=2016-11-30
  response:
    body: {string: !!python/unicode 'DAY,Location,CPU Hours,High Performance CPU Hours,RAM
        Hours,Storage Hours,High Performance Storage Hours,Economy Storage Hours,Ba[...]
- request:
    body: !!python/unicode ''
    headers:
      Authorization: [Basic YmVybmFyZC5wYXF1ZXM6KiZeRyomR0gqKTQ=]
      Content-Type: [application/xml]
    method: GET
    uri: https://api-eu.dimensiondata.com/oec/0.9/3755d938-0bfc-4553-9c68-b61fbd1f4cd0/report/usageDetailed?startDate=2016-11-29&endDate=2016-11-30
  response:
    body: {string: !!python/unicode 'Name,UUID,Type,Location,Private IP Address,Status,"user:
        Country","user: EUITAAS_Tag","user: Test_Agenda",Start Time,End [...]
[...]
